fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary
alembic
python-dotenv
pydantic
email-validator
fastapi-jwt-auth2
werkzeug
uuid6
itsdangerous
boto3
pika
pytest-asyncio>=0.23
httpx
aiosqlite